// 공용
.fold {
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

:root {
  --color_title: #080808;
  --color_search: #000;
}

button[class^="btn_"] {
  cursor: pointer;
}

.text-black {
  color: #080808 !important;
}

svg {
  fill: #03c75a;
}

img {
  vertical-align: top;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrap {
  min-width: 1340px;
}

body {
  font-size: 1rem;
  line-height: 1.7rem;
}

.con {
  width: 1280px;
  margin: 0 auto;
}

// 헤더 시작

.header {
  .topSearchWrap {
    z-index: 10;
    position: relative;
    height: 156px;
    padding: 52px 0 8px;

    .search_right_first {
    }

    .search_right_second {
      .link_headline {
        position: absolute;
        top: 86px;
        right: 0;
      }
    }

    @mixin AsideAfter($background_position_x, $background_position_y) {
      &::after {
        content: "";
        display: block;
        background-image: url(../img/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: $background_position_x $background_position_y;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: relative;
      }
    }

    @function has($btn_cheaker) {
      @return $btn_cheaker == "button";
    }
    // has가 css에 있으면 함수 오버로딩
    // 아니면 커스텀 정의
    // 열심히 만들었는데 작동을 안하네 나중에 찾아보고 작동만 시키자

    @mixin topArea($t: 10px, $l: auto, $r: auto, $w: auto, $button: "button") {
      top: $t;
      left: $l;
      width: $w;
      right: $r;
      position: absolute;

      @if (has($button)) {
        button {
          display: block;
          padding: 8px;
        }
      } @else {
        a {
          display: block;
          padding: 8px;
        }
      }
    }

    // a[class^="link_"] {
    //   position: relative;
    //   display: block;
    //   padding: 8px;
    // }
    // ^= 는 해당 키워드로 시작 시 $= 는 해당 키워드로 끝날 시

    .topAsideArea {
      @include topArea($l: -12px, $w: 48px);

      .btn_menu {
        // after나 before에게 앱솔 줄 때 쓰는 방법 : 다중 relative
        // relative 같은 경우 사용의 제한은 없지만 이런 식으로
        // 구조가 겹쳐 있을 경우 작업하기 힘들다고 함.
        @include AsideAfter(
          $background_position_x: -311px,
          $background_position_y: -166px
        );
      }
    }

    .topPayArea {
      @include topArea($l: 41px, $button: "button ");

      .link_pay {
        @include AsideAfter(
          $background_position_x: -248px,
          $background_position_y: -260px
        );
      }
    }
    .topTalkArea {
      @include topArea($r: 94px, $w: 48px);

      .btn_talk {
        @include AsideAfter(
          $background_position_x: -99px,
          $background_position_y: -316px
        );
      }
    }
    .topNotiArea {
      @include topArea($r: 42px, $w: 48px);

      .btn_notify {
        @include AsideAfter(
          $background_position_x: -311px,
          $background_position_y: -232px
        );
      }
    }

    .topShoppingArea {
      @include topArea($r: -10px, $button: "button ");

      .link_shopping {
        &:last-child {
          @include AsideAfter(
            $background_position_x: -33px,
            $background_position_y: -316px
          );
        }
      }
    }

    // 여기까지 상단 바 Aside
  }
}

// 검색 상자
.search_area {
  position: absolute;
  top: 52px;
  left: 50%;
  // height: 58px;
  transform: translateX(-50%);
  z-index: 9;
  width: 706px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  background-color: #fff;

  .search_group {
    .search_group_inner {
      position: relative;
      padding-left: 67px;

      .search_logo {
        top: 0px;
        left: 0px;
        position: absolute;

        .link_naver {
          display: block;
          padding: 17px 16px 17px 27px;
          position: absolute;

          .ico_n_logo_svg {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.3s 3.2s;
            width: 24px;
            height: 24px;
            display: block;

            & > svg {
              fill: #03c75a;
            }
          }
        }
      }
    }
  }

  form {
    margin: 0;
    padding: 0;

    fieldset {
      border: 0;

      legend {
        padding: 0;
      }

      .search_input_box {
        width: 480px;
        background-color: #fff;

        .search_input {
          width: 100%;
          height: 55px;
          color: var(--color_search);
          z-index: 10;
          position: relative;
          padding: 17px 0;
          background-color: rgba(0, 0, 0, 0);
          box-sizing: border-box;
          font-size: 1rem;
          line-height: 2rem;
          line-height: 24px;
          font-weight: bold;
          outline: 0;
        }
      }

      .btn_search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 17px 27px 16px 10px;
        cursor: pointer;

        .ico_btn_search_svg {
          width: 25px;
          height: 25px;
          display: block;
        }
      }
    }
  }

  .search_box {
    position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    z-index: 11;
    width: 56px;

    .btn_keyboard {
      overflow: visible;
      position: relative;
      padding: 22px 3px;

      &::before {
        content: "";
        display: block;
        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: -148px -301px;
        background-repeat: no-repeat;
        width: 24px;
        height: 14px;
      }

      .keyboard_text {
        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: -152px 0px;
        background-repeat: no-repeat;
        width: 68px;
        height: 37px;
        position: absolute;
        top: 44px;
        left: -19px;
        display: none;
      }
    }

    .btn_arrow {
      position: absolute;
      top: 0;
      right: 1px;
      padding: 26px 6px;

      &::before {
        content: "";
        display: block;
        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: -154px -211px;
        background-repeat: no-repeat;
        width: 10px;
        height: 6px;
      }
    }
  }
}
// 검색창 끝

// 검색창밑 아이콘 숏컷에어리어 // type_^ 클래스는 더 아래에 따로 명시한다.

.shortcut_area {
  position: relative;
  width: 676px;
  margin: 68px auto 0;

  .shortcut_list {
    display: flex;

    .shortcut_item {
      position: relative;

      &:last-child {
        left: 16px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          left: 10px;
          width: 1px;
          height: 20px;
          background-color: rgba(227, 229, 232, 0.8);
        }
      }

      & + .shortcut_item {
        margin-left: -23px;
        padding-left: 14px;
      }

      .link_service {
        position: relative;
        display: block;
        width: 64px;

        .service_icon {
          width: 44px;
          height: 44px;
          position: relative;
          display: block;
          margin: 0 auto;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .service_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        margin-top: 4px;
        font-size: 0.9rem;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

// type_^ 클래스 명시 부분.

@mixin type_vari($background_position_x, $background_position_y) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url(../img/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -153px -142px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  &::after {
    background-image: url(../img/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: $background_position_x $background_position_y;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
  }
}

.shortcut_item {
  .type {
    &_mail {
      @include type_vari(
        $background_position_x: -205px,
        $background_position_y: -219px
      );
    }

    &_cafe {
      @include type_vari(
        $background_position_x: -41px,
        $background_position_y: -219px
      );
    }

    &_blog {
      @include type_vari(
        $background_position_x: 0px,
        $background_position_y: -219px
      );
    }

    &_shopping {
      @include type_vari(
        $background_position_x: -41px,
        $background_position_y: -260px
      );
    }

    &_news {
      @include type_vari(
        $background_position_x: -270px,
        $background_position_y: -205px
      );
    }

    &_stock {
      @include type_vari(
        $background_position_x: -123px,
        $background_position_y: -260px
      );
    }

    &_real {
      @include type_vari(
        $background_position_x: -0px,
        $background_position_y: -260px
      );
    }

    &_map {
      @include type_vari(
        $background_position_x: -270px,
        $background_position_y: 0px
      );
    }

    &_webtoon {
      @include type_vari(
        $background_position_x: -164px,
        $background_position_y: -260px
      );
    }

    &_zzz {
      @include type_vari(
        $background_position_x: 0px,
        $background_position_y: 0px
      );

      &::after {
        width: 0;
        height: 0;
      }

      .service_img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    &_more {
      @include type_vari(
        $background_position_x: -270px,
        $background_position_y: -164px
      );
    }

    &_webtoon {
      @include type_vari(
        $background_position_x: -164px,
        $background_position_y: -260px
      );
    }
  }

  .service_ad {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    margin: auto;
    // -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M35.8916%204.05844C34.4994%202.6636%2032.7598%201.66622%2030.8527%201.16957C29.6805%200.675129%2026.2138%20-0.0109778%2019.9694%200.000133254C13.725%200.0112443%2010.2473%200.708462%209.08618%201.2029C5.21209%202.23714%202.19023%205.2696%201.16957%209.14729C0.675129%2010.3195%20-0.0109778%2013.8306%200.000133254%2020.0333C0.0112443%2026.2361%200.708462%2029.7555%201.20568%2030.9138C2.23787%2034.7881%205.26978%2037.8105%209.14729%2038.8304C10.3195%2039.3249%2013.7139%2040.011%2020.0333%2039.9999C26.3527%2039.9888%2029.7555%2039.2943%2030.9138%2038.7971C34.7879%2037.7629%2037.8098%2034.7304%2038.8304%2030.8527C39.3249%2029.6805%2040.011%2026.1555%2039.9999%2019.9667C39.9888%2013.7778%2039.2943%2010.2445%2038.7971%209.08618C38.2933%207.18157%2037.2902%205.44593%2035.8916%204.05844V4.05844Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E);
    mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M35.8916%204.05844C34.4994%202.6636%2032.7598%201.66622%2030.8527%201.16957C29.6805%200.675129%2026.2138%20-0.0109778%2019.9694%200.000133254C13.725%200.0112443%2010.2473%200.708462%209.08618%201.2029C5.21209%202.23714%202.19023%205.2696%201.16957%209.14729C0.675129%2010.3195%20-0.0109778%2013.8306%200.000133254%2020.0333C0.0112443%2026.2361%200.708462%2029.7555%201.20568%2030.9138C2.23787%2034.7881%205.26978%2037.8105%209.14729%2038.8304C10.3195%2039.3249%2013.7139%2040.011%2020.0333%2039.9999C26.3527%2039.9888%2029.7555%2039.2943%2030.9138%2038.7971C34.7879%2037.7629%2037.8098%2034.7304%2038.8304%2030.8527C39.3249%2029.6805%2040.011%2026.1555%2039.9999%2019.9667C39.9888%2013.7778%2039.2943%2010.2445%2038.7971%209.08618C38.2933%207.18157%2037.2902%205.44593%2035.8916%204.05844V4.05844Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .seoul_name {
    margin-left: -25px;
    margin-right: -25px;
    font-size: 13.65px !important;
  }

  .ico_ad {
    position: absolute;
    top: -5px;
    right: 13px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -93px -376px;
    background-repeat: no-repeat;
    width: 26px;
    height: 22px;
  }
}
// 검색창밑 아이콘 숏컷에어리어 끝

// 여기까지 상단바

// 바디 컨텐츠 시작
.con {
  position: relative;
  padding-bottom: 60px;

  .top_root {
    .rayout_left {
      float: left;
      width: 830px;
    }

    .rayout_right {
    }
    .settingView {
    }
  }
}

// 광고 배너 영역
.banner_area {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);

  .timeboard {
    height: 130px;
    .outframe {
      width: 100%;
      height: auto;
      margin: 0px auto;
      line-height: 0;

      .inframe {
        width: 100%;
        height: 134px;
        visibility: inherit;
        border: 0px;
        vertical-align: bottom;
        // 요소의 수직 정렬을 지정하는 속성

        img {
          width: 830px;
          height: 130px;
          aspect-ratio: auto 830 / 130;
          // 가로세로 비율을 유지하면서 크기를 조정
          // 값이 두개인 경우 요소가 고유한 종횡비를 가지는 경우 해당 종횡비를 따르지만 'auto'
          // 만약 지렇지 않은 경우 지정한 비율을 따른다. '830 / 130'
        }
      }
    }
  }
}

// 뉴스 영역
// 뉴스 영역 프레임
.newsStand {
  font-size: 1rem;
  margin-top: 16px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;

  .contentHeaderView_header {
    display: flex;
    padding: 18px 20px 17px;

    .contentHeaderView_top {
      flex: 1;
    }
  }
}

// 뉴스 영역 콘텐츠

.View_item {
  position: relative;

  &:not(:first-child) {
    padding-left: 26px;
  }

  // before 믹스 활용 어려우니 하드코딩 할 것

  &:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    transform: skewX(-15deg);
  }

  .tab_text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: rgba(8, 8, 8, 0.5);

    .View_item_tag {
      background-color: #f4361e;
      display: inline-block;
      margin: 1px 0 0 1px;
      padding: 1px 5px 0 4px;
      border-radius: 9px;
      font-size: 0.6rem;
      line-height: 16.5px;
      font-weight: 700;
      // vertical-align: top;
      color: #fff;

      &::before {
        content: "";
        display: inline-block;
        background-image: url(../img/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: -432px -413px;
        background-repeat: no-repeat;
        width: 14px;
        height: 10px;
        margin: 4px 3px 0 0;
        vertical-align: top;
      }
    }
  }

  span {
    position: relative;
    display: inline-block;
    line-height: 23px;
    font-weight: 800;
    vertical-align: top;
    color: rgba(8, 8, 8, 0.5);

    .only_before {
      &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #d3d5d7;
        margin: 7px 8px 0 3px;
        border-radius: 50%;
        vertical-align: top;
      }
    }
  }
}
// 여기까지 뉴스 탭 상단

// 여기부터 뉴스 헤드라인 중단

.contentHeaderView_header_sub {
  background-color: #f5f7f8;
  position: relative;
  display: flex;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 26px;

  .news_media {
    color: #404040;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    .media_ikon {
      background-image: url(../img/sp_main.eae24523.png);
      background-size: 452px 436px;
      background-position: -175px -211px;
      background-repeat: no-repeat;
      width: 9px;
      height: 6px;
      display: inline-block;
      margin: 10px 0 0 5px;
      vertical-align: top;
    }
  }

  .news_simple_box {
    background-color: #f5f7f8;
    position: relative;
    display: flex;
    margin: 0 20px;
    border-radius: 4px;
    line-height: 26px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: -13px;
      background-color: #d3d5d7;
      width: 1px;
      height: 12px;
    }

    .subView {
      color: #404040;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    .news_box {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;

      .first_arti {
        margin-left: 5px;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 3px;
          background-color: #d3d5d7;
          margin: 12px 6px 0 6px;
          border-radius: 50%;
          vertical-align: top;
        }
      }

      div {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .sub_home {
    margin-left: auto;

    .sub_home_link {
      position: relative;
      display: inline-block;
      padding-left: 28px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 10px;
        width: 1px;
        height: 12px;
        background-color: #d3d5d7;
      }
    }
  }
}

// 여기까지 뉴스 헤드라인 중단

// 여기부터 뉴스 바둑판식 하단

.contentHeaderView_content {
  position: relative;
  display: flex;
  margin: 18px 20px;

  .content_wrap {
    flex: 1;

    .content_group {
      border: 1px solid #ebebeb;
      overflow: hidden;
      position: relative;
      height: 222px;
      border-radius: 4px;

      .content_box {
        position: relative;
        float: left;
        width: 16.66%;
        height: 56px;
        text-align: center;
        border: 1px solid #ebebeb;

        .news_th {
          display: block;
          padding: 18px 0;
          text-align: center;

          .news_logo {
            height: 20px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.contentHeaderView_content_page {
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 10px 0 11px;
  line-height: 34px;
  text-align: center;

  &::before {
  }

  .page_btn_prev {
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    background-color: #fff;
    position: relative;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(../img/sp_main.eae24523.png);
      background-size: 452px 436px;
      background-position: -193px -424px;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      width: 10px;
      height: 12px;
      margin: auto;
    }
  }

  .page_wrap {
    color: #606060;
    display: inline-block;
    min-width: 156px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 35px;
    font-weight: 600;

    .content_text {
      padding-right: 4px;
      color: #606060;

      .content_point {
        color: #3a67ea;
      }
    }

    .content_current {
      .centent_total {
      }
    }
  }

  .page_btn_next {
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    background-color: #fff;
    position: relative;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(../img/sp_main.eae24523.png);
      background-size: 452px 436px;
      background-position: -193px -424px;
      background-repeat: no-repeat;
      width: 10px;
      height: 12px;
      margin: auto;
    }
  }
}
