// 공용
.fold {
}

@import "module.scss";

.commonlayout {
  overflow: hidden;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 16px;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.btn_next {
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -193px -424px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
  }
}

.btn_prev {
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
  transform: rotate(180deg);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -182px -424px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
  }
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

:root {
  --color_title: #080808;
  --color_search: #000;
}

button[class^="btn_"] {
  cursor: pointer;
}

.text-black {
  color: #080808 !important;
}

svg {
  fill: #03c75a;
}

img {
  vertical-align: top;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrap {
  min-width: 1340px;
}

body {
  font-size: 1rem;
  line-height: 1.7rem;
}

.con {
  width: 1280px;
  margin: 0 auto;
}

// 헤더 시작

.header {
  .topSearchWrap {
    z-index: 10;
    position: relative;
    height: 156px;
    padding: 52px 0 8px;

    .search_right_first {
    }

    .search_right_second {
      .link_headline {
        position: absolute;
        top: 86px;
        right: 0;
      }
    }

    // a[class^="link_"] {
    //   position: relative;
    //   display: block;
    //   padding: 8px;
    // }
    // ^= 는 해당 키워드로 시작 시 $= 는 해당 키워드로 끝날 시

    .topAsideArea {
      @include topArea($l: -12px, $w: 48px);

      .btn_menu {
        // after나 before에게 앱솔 줄 때 쓰는 방법 : 다중 relative
        // relative 같은 경우 사용의 제한은 없지만 이런 식으로
        // 구조가 겹쳐 있을 경우 작업하기 힘들다고 함.
        @include AsideAfter(
          $background_position_x: -311px,
          $background_position_y: -166px
        );
      }
    }

    .topPayArea {
      @include topArea($l: 41px, $button: "button ");

      .link_pay {
        @include AsideAfter(
          $background_position_x: -248px,
          $background_position_y: -260px
        );
      }
    }
    .topTalkArea {
      @include topArea($r: 94px, $w: 48px);

      .btn_talk {
        @include AsideAfter(
          $background_position_x: -99px,
          $background_position_y: -316px
        );
      }
    }
    .topNotiArea {
      @include topArea($r: 42px, $w: 48px);

      .btn_notify {
        @include AsideAfter(
          $background_position_x: -311px,
          $background_position_y: -232px
        );
      }
    }

    .topShoppingArea {
      @include topArea($r: -10px, $button: "button ");

      .link_shopping {
        &:last-child {
          @include AsideAfter(
            $background_position_x: -33px,
            $background_position_y: -316px
          );
        }
      }
    }

    // 여기까지 상단 바 Aside
  }
}

// 검색 상자
.search_area {
  position: absolute;
  top: 52px;
  left: 50%;
  // height: 58px;
  transform: translateX(-50%);
  z-index: 9;
  width: 706px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  background-color: #fff;

  .search_group {
    .search_group_inner {
      position: relative;
      padding-left: 67px;

      .search_logo {
        top: 0px;
        left: 0px;
        position: absolute;

        .link_naver {
          display: block;
          padding: 17px 16px 17px 27px;
          position: absolute;

          .ico_n_logo_svg {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.3s 3.2s;
            width: 24px;
            height: 24px;
            display: block;

            & > svg {
              fill: #03c75a;
            }
          }
        }
      }
    }
  }

  form {
    margin: 0;
    padding: 0;

    fieldset {
      border: 0;

      legend {
        padding: 0;
      }

      .search_input_box {
        width: 480px;
        background-color: #fff;

        .search_input {
          width: 100%;
          height: 55px;
          color: var(--color_search);
          z-index: 10;
          position: relative;
          padding: 17px 0;
          background-color: rgba(0, 0, 0, 0);
          box-sizing: border-box;
          font-size: 1rem;
          line-height: 2rem;
          line-height: 24px;
          font-weight: bold;
          outline: 0;
        }
      }

      .btn_search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 17px 27px 16px 10px;
        cursor: pointer;

        .ico_btn_search_svg {
          width: 25px;
          height: 25px;
          display: block;
        }
      }
    }
  }

  .search_box {
    position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    z-index: 11;
    width: 56px;

    .btn_keyboard {
      overflow: visible;
      position: relative;
      padding: 22px 3px;

      &::before {
        content: "";
        display: block;
        @include beforeOnlyBackGround(
          $background_position_x: -148px,
          $background_position_y: -301px
        );
        width: 24px;
        height: 14px;
      }

      .keyboard_text {
        @include beforeOnlyBackGround(
          $background_position_x: -152px,
          $background_position_y: 0px
        );
        width: 68px;
        height: 37px;
        position: absolute;
        top: 44px;
        left: -19px;
        display: none;
      }
    }

    .btn_arrow {
      position: absolute;
      top: 0;
      right: 1px;
      padding: 26px 6px;

      &::before {
        content: "";
        display: block;
        @include beforeOnlyBackGround(
          $background_position_x: -154px,
          $background_position_y: -211px
        );
        width: 10px;
        height: 6px;
      }
    }
  }
}
// 검색창 끝

// 검색창밑 아이콘 숏컷에어리어 // type_^ 클래스는 더 아래에 따로 명시한다.

.shortcut_area {
  position: relative;
  width: 676px;
  margin: 68px auto 0;

  .shortcut_list {
    display: flex;

    .shortcut_item {
      position: relative;

      &:last-child {
        left: 16px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          @include onlySize($t: 12px, $l: 10px, $w: 1px, $h: 20px);
          background-color: rgba(227, 229, 232, 0.8);
        }
      }

      & + .shortcut_item {
        margin-left: -23px;
        padding-left: 14px;
      }

      .link_service {
        position: relative;
        display: block;
        width: 64px;

        .service_icon {
          width: 44px;
          height: 44px;
          position: relative;
          display: block;
          margin: 0 auto;

          &::after {
            content: "";
            display: block;
            position: absolute;
            @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
            margin: auto;
          }
        }
      }

      .service_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        margin-top: 4px;
        font-size: 0.9rem;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

// type_^ 클래스 명시 부분.
.shortcut_item {
  .type {
    &_mail {
      @include type_vari(
        $background_position_x: -205px,
        $background_position_y: -219px
      );
    }

    &_cafe {
      @include type_vari(
        $background_position_x: -41px,
        $background_position_y: -219px
      );
    }

    &_blog {
      @include type_vari(
        $background_position_x: 0px,
        $background_position_y: -219px
      );
    }

    &_shopping {
      @include type_vari(
        $background_position_x: -41px,
        $background_position_y: -260px
      );
    }

    &_news {
      @include type_vari(
        $background_position_x: -270px,
        $background_position_y: -205px
      );
    }

    &_stock {
      @include type_vari(
        $background_position_x: -123px,
        $background_position_y: -260px
      );
    }

    &_real {
      @include type_vari(
        $background_position_x: 0px,
        $background_position_y: -260px
      );
    }

    &_map {
      @include type_vari(
        $background_position_x: -269px,
        $background_position_y: 0px
      );
    }

    &_webtoon {
      @include type_vari(
        $background_position_x: -161px,
        $background_position_y: -260px
      );
    }

    &_zzz {
      @include type_vari(
        $background_position_x: 0px,
        $background_position_y: 0px
      );

      &::after {
        width: 0;
        height: 0;
        background-image: none;
      }

      .service_img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    &_more {
      @include type_vari(
        $background_position_x: -270px,
        $background_position_y: -164px
      );
    }

    &_webtoon {
      @include type_vari(
        $background_position_x: -164px,
        $background_position_y: -260px
      );
    }
  }

  .service_ad {
    position: absolute;
    @include onlySize($t: 2px, $r: 2px, $b: 2px, $l: 2px);
    margin: auto;
    mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M35.8916%204.05844C34.4994%202.6636%2032.7598%201.66622%2030.8527%201.16957C29.6805%200.675129%2026.2138%20-0.0109778%2019.9694%200.000133254C13.725%200.0112443%2010.2473%200.708462%209.08618%201.2029C5.21209%202.23714%202.19023%205.2696%201.16957%209.14729C0.675129%2010.3195%20-0.0109778%2013.8306%200.000133254%2020.0333C0.0112443%2026.2361%200.708462%2029.7555%201.20568%2030.9138C2.23787%2034.7881%205.26978%2037.8105%209.14729%2038.8304C10.3195%2039.3249%2013.7139%2040.011%2020.0333%2039.9999C26.3527%2039.9888%2029.7555%2039.2943%2030.9138%2038.7971C34.7879%2037.7629%2037.8098%2034.7304%2038.8304%2030.8527C39.3249%2029.6805%2040.011%2026.1555%2039.9999%2019.9667C39.9888%2013.7778%2039.2943%2010.2445%2038.7971%209.08618C38.2933%207.18157%2037.2902%205.44593%2035.8916%204.05844V4.05844Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E);
    // mask-image는 포토샵이나 일러스트레이터에서 쓰는 레이어 마이크와 같은 기능을 수행한다.
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .seoul_name {
    margin-left: -25px;
    margin-right: -25px;
    font-size: 13.65px !important;
  }

  .ico_ad {
    position: absolute;
    content: "";
    background-image: url(../img/sp_main.eae24523.png);
    background-size: 452px 436px;
    background-position: -93px -376px;
    background-repeat: no-repeat;
    @include onlySize($w: 26px, $h: 22px, $t: -5px, $r: 9px);
  }
}
// 검색창밑 아이콘 숏컷에어리어 끝

// 여기까지 상단바

// 바디 컨텐츠 시작
.con {
  position: relative;
  padding-bottom: 60px;

  .top_root {
    .layout_left {
      float: left;
      width: 830px;
    }

    .layout_right {
      float: left;
      width: 420px;
      margin-left: 30px;
    }
    .settingView {
    }
  }
}

// 광고 배너 영역
.banner_area {
  position: relative;

  .timeboard {
    height: 130px;
    .outframe {
      width: 100%;
      height: auto;
      margin: 0px auto;
      line-height: 0;

      .inframe {
        width: 100%;
        height: 134px;
        visibility: inherit;
        border: 0px;
        vertical-align: bottom;
        // 요소의 수직 정렬을 지정하는 속성

        img {
          width: 830px;
          height: 130px;
          aspect-ratio: auto 830 / 130;
          // 가로세로 비율을 유지하면서 크기를 조정
          // 값이 두개인 경우 요소가 고유한 종횡비를 가지는 경우 해당 종횡비를 따르지만 'auto'
          // 만약 지렇지 않은 경우 지정한 비율을 따른다. '830 / 130'
        }
      }
    }
  }
}

// 뉴스 영역
// 뉴스 영역 프레임
.newsStand {
  font-size: 1rem;
  position: relative;

  .contentHeaderView_header {
    display: flex;
    padding: 18px 20px 17px;

    .contentHeaderView_top {
      flex: 1;
    }
  }
}

// 뉴스 영역 콘텐츠

.View_item {
  position: relative;

  &:not(:first-child) {
    padding-left: 26px;
  }

  // before 믹스 활용 어려우니 하드코딩 할 것

  &:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    @include onlySize($w: 1px, $h: 15px, $t: 4px, $l: 13px);
    background-color: #d3d5d7;
    transform: skewX(-15deg);
  }

  .tab_text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: rgba(8, 8, 8, 0.5);

    .View_item_tag {
      background-color: #f4361e;
      display: inline-block;
      margin: 1px 0 0 1px;
      padding: 1px 5px 0 4px;
      border-radius: 9px;
      font-size: 0.6rem;
      line-height: 16.5px;
      font-weight: 700;
      // vertical-align: top;
      color: #fff;

      &::before {
        content: "";
        display: inline-block;
        @include beforeOnlyBackGround(
          $background_position_x: -432px,
          $background_position_y: -413px
        );
        width: 14px;
        height: 10px;
        margin: 4px 3px 0 0;
        vertical-align: top;
      }
    }
  }

  span {
    position: relative;
    display: inline-block;
    line-height: 23px;
    font-weight: 800;
    vertical-align: top;
    color: rgba(8, 8, 8, 0.5);

    .only_before {
      &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: #d3d5d7;
        margin: 7px 8px 0 3px;
        border-radius: 50%;
        vertical-align: top;
      }
    }
  }
}
// 여기까지 뉴스 탭 상단

// 여기부터 뉴스 헤드라인 중단

.contentHeaderView_header_sub {
  background-color: #f5f7f8;
  position: relative;
  display: flex;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  line-height: 26px;

  .news_media {
    color: #404040;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    .media_ikon {
      @include beforeOnlyBackGround(
        $background_position_x: -175px,
        $background_position_y: -211px
      );
      width: 9px;
      height: 6px;
      display: inline-block;
      margin: 10px 0 0 5px;
      vertical-align: top;
    }
  }

  .news_simple_box {
    background-color: #f5f7f8;
    position: relative;
    display: flex;
    margin: 0 20px;
    border-radius: 4px;
    line-height: 26px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: -13px;
      background-color: #d3d5d7;
      width: 1px;
      height: 12px;
    }

    .subView {
      color: #404040;
      position: relative;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    .news_box {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;

      .first_arti {
        margin-left: 5px;
        &::before {
          content: "";
          display: inline-block;
          width: 3px;
          height: 3px;
          background-color: #d3d5d7;
          margin: 12px 6px 0 6px;
          border-radius: 50%;
          vertical-align: top;
        }
      }

      div {
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .sub_home {
    margin-left: auto;

    .sub_home_link {
      position: relative;
      display: inline-block;
      padding-left: 28px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        @include onlySize($w: 1px, $h: 12px, $t: 7px, $l: 10px);
        background-color: #d3d5d7;
      }
    }
  }
}

// 여기까지 뉴스 헤드라인 중단

// 여기부터 뉴스 바둑판식 하단

.contentHeaderView_content {
  position: relative;
  display: flex;
  margin: 18px 20px;

  .content_wrap {
    flex: 1;

    .content_group {
      border: 1px solid #ebebeb;
      overflow: hidden;
      position: relative;
      height: 222px;
      border-radius: 4px;

      .content_box {
        position: relative;
        float: left;
        width: 16.66%;
        height: 56px;
        text-align: center;
        border: 1px solid #ebebeb;

        .news_th {
          display: block;
          padding: 18px 0;
          text-align: center;

          .news_logo {
            height: 20px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.contentHeaderView_content_page {
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 10px 0 11px;
  line-height: 34px;
  text-align: center;

  &::before {
  }

  .page_wrap {
    color: #606060;
    display: inline-block;
    min-width: 156px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 35px;
    font-weight: 600;

    .content_text {
      padding-right: 4px;
      color: #606060;

      .content_point {
        color: #3a67ea;
      }
    }

    .content_current {
      .centent_total {
      }
    }
  }
}

// 여기까지 뉴스 스탠드

// 여기부터 쇼핑 컨테이너
// 외곽 프레임
.shopping_section {
  position: relative;

  .shopping_section_wrap {
    .iframe_box {
      width: 831px;
      height: 560px;

      .in_con {
        width: 830px;
        position: relative;
        border-radius: 8px;
        box-sizing: border-box;
        opacity: 1;
      }
    }
  }
}

// 쇼핑 콘테이너 내부 작업 시작

// 쇼핑 콘텐츠 헤더 시작

.shopping_content_header {
  display: flex;
  padding: 19px 20px 16px;

  .shopping_content_header_tab {
    flex: 1 1;

    .header_tab_list {
      display: flex;

      .header_tab_item {
        position: relative;

        &:not(:first-child) {
          padding-left: 26px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            @include onlySize($w: 1px, $h: 15px, $t: 4px, $l: 13px);
            background-color: #d3d5d7;
            transform: skewX(-15deg);
          }
        }

        .header_tab_a {
          position: relative;
          display: inline-block;
          font-size: 0.9rem;
          line-height: 23px;
          font-weight: 700;
          vertical-align: top;
          color: rgba(8, 8, 8, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}
// 여기까지 쇼핑 콘텐츠 헤더

// 여기부터 탑 버튼 시작
.shopping_top_button {
  position: absolute;
  top: 4px;
  right: 20px;
  margin-left: auto;
  padding: 10px 0;

  .shopping_view_page {
    color: #606060;
    display: inline-block;
    margin: 6px 9px 8px 0;
    font-size: 0.9rem;
    line-height: 16px;
    font-weight: 400;
    vertical-align: 50%;

    .current {
      color: #606060;
      display: inline-block;

      .blind {
        display: inline-block;
      }
    }
    .total {
      color: rgba(113, 113, 113, 0.6);
    }
  }

  .shopping_btn_prev {
    border-radius: 4px 0 0 4px;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(211, 213, 215, 0.8);
    cursor: pointer;

    .arrow_prev {
      position: absolute;
      @include onlySize($t: 0, $l: 0, $r: 0, $b: 0, $w: 10px, $h: 12px);
      margin: auto;

      &::before {
        content: "";
        position: absolute;
        @include onlySize($w: 5px, $h: 5px, $t: 50%, $l: 50%);
        transform: translate(-50%, -50%) rotate(45deg);
        margin-left: 2px;
        border-left: 2px solid #80868c;
        border-bottom: 2px solid #80868c;
        margin-left: 1px;
      }
    }
  }

  .shopping_btn_next {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(211, 213, 215, 0.8);
    cursor: pointer;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    margin-left: -6px;

    .arrow_next {
      position: absolute;
      @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
      margin: auto;

      &::before {
        content: "";
        position: absolute;
        @include onlySize($w: 5px, $h: 5px, $t: 50%, $l: 50%);
        transform: translate(-50%, -50%) rotate(45deg);
        margin-left: -2px;
        border-top: 2px solid #80868c;
        border-right: 2px solid #80868c;
        margin-left: -1px;
      }
    }
  }
}
// 여기까지 탑 버튼

// 여기부터 메인 콘텐츠 작업 시작
.shopping_main_content {
  display: flex;
  height: 376px;
  padding: 0 20px 1px;
  box-sizing: border-box;

  .shopping_left_wrap {
    flex: 1 1;
    max-width: 248px; //임시변수

    .shopping_inner_top {
      position: relative;
      padding: 9px 11px 4px;
      border-radius: 4px;
      background: rgba(245, 248, 251, 0.6);

      &::before {
        content: "";
        display: block;
        position: absolute;
        @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: inherit;
      }

      .shopping_item_line {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
      }

      .shopping_top_link {
        color: #404040;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.6px;
      }

      .shopping_dot {
        margin: 9px 0 0;
        width: 3px;
        height: 3px;
        background-color: #d3d5d7;
        display: inline-block;
        border-radius: 50%;
        vertical-align: top;
      }
    }

    // 4개 있는 두 번째 div
    .QuickLink_area {
      position: relative;
      margin-top: 12px;
      padding: 9px;
      border-radius: 4px;
      background: rgba(245, 248, 251, 0.6);

      &::before {
        content: "";
        display: block;
        position: absolute;
        @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: inherit;
      }

      .QuickLink_list {
        position: relative;
        display: flex;

        .QuickLink_item {
          flex: 1 1;

          &:nth-child(1) {
            @include beforeShoppingLink(
              $background_position_x: -34px,
              $background_position_y: 0
            );
          }

          &:nth-child(2) {
            @include beforeShoppingLink(
              $background_position_x: -68px,
              $background_position_y: -34px
            );
          }

          &:nth-child(3) {
            @include beforeShoppingLink(
              $background_position_x: -34px,
              $background_position_y: -34px
            );
          }

          &:nth-child(4) {
            @include beforeShoppingLink(
              $background_position_x: -19px,
              $background_position_y: -121px,
              $w: 17px,
              $h: 16px
            );
          }

          .QuickLink_a {
            text-align: center;
            display: block;

            .QuickLink_ikon {
              width: 32px;
              height: 32px;
              position: relative;
              display: inline-block;
              border-radius: 50%;
              background-color: #fff;
              line-height: 32px;
              text-align: center;
              vertical-align: top;
              border: 1px solid rgba(238, 242, 248, 0.8);
            }

            .QuickLink_text {
              color: #404040;
              margin-top: 2px;
              font-size: 0.9rem;
              line-height: 20px;
            }
          }
        }
      }
    }

    // 광고 배너
    .null {
      .FocusItem_link_banner {
        margin-top: 12px;
        display: block;

        .FocusItem_AD_span {
          width: 248px;
          height: 146px;
          overflow: hidden;
          position: relative;
          display: block;
          border-radius: 4px;

          .FocusItem_img {
            vertical-align: top;
            width: 248px;
            height: 146px;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
            border: 1px solid rgba(0, 0, 0, 0.06);
            perspective: 1px;
            transform: translateZ(0);
          }
        }

        .FocusItem_text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 8px;
          font-size: 0.9rem;
          line-height: 19px;
          text-align: center;
        }
      }
    }
    // 여기까지 광고 배너
  }
  // 여기까지 메인 콘텐츠 왼쪽 작업 끝
}

// 쇼핑 메인 그리드 프레임 작업 시작
.shopping_main_con {
  margin-right: 0;
  margin-left: 10px;
  position: relative;
  width: 522px;

  .shopping_main_five_ul {
    .shopping_main_five_li {
      padding-left: 0px;
      float: left;
      padding: 0 0 14px 6px;

      .shopping_main_out_frame {
        position: relative;
        width: 98px;

        .shopping_main_in_frame {
        }
      }
    }
  }
}
// 여기까지 쇼핑 메인 그리드 프레임 작업

// 여기부터 쇼핑 메인 그리드 콘텐츠 작업 시작
.shopping_product {
  position: relative;

  .productLink {
    position: relative;
    display: block;

    .productLink_box {
      @include imgFrame($w: 98px, $h: 126px);

      .productLink_img {
        transition: transform 0.2s;
        // image-rendering: -webkit-optimize-contrast;
        vertical-align: top;
        pointer-events: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
          border: 1px solid rgba(0, 0, 0, 0.06);
          background-color: rgba(0, 0, 0, 0.03);
          transform: translateZ(0);
          perspective: 1px;
        }
      }
    }
  }
}

.productLink_a {
  display: block;
  padding-top: 8px;

  .productLink_text {
    overflow: hidden;
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: -0.4px;
    word-spacing: nowrap;
    text-align: center;
  }
}
// 여기까지 쇼핑 메인 그리드 콘텐츠 작업

// 여기부터 오늘의 혜택 상자 작업
.todayPick_box {
  display: flex;
  margin: 0 20px 18px;

  .todayPick_frame {
    width: 100%;
    padding: 15px 20px 14px;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 21px;
    font-weight: 700;
    background-color: #f5f7f8;
    display: flex;

    .todayPick_title {
      flex: none;
      position: relative;
      padding-right: 19px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        @include onlySize($t: 8px, $r: 8px, $w: 3px, $h: 3px);
        background-color: #d3d5d7;
        border-radius: 50%;
        // todayPickheader에서 line height 21px 상속
      }
    }
    .todayPick_linkMall {
      flex: 1 1;
      display: flex;
      min-width: 0;

      .todayPickMall_span {
        display: inline-block;
        height: 13px;
        padding-top: 1px;
        line-height: 13px;
        vertical-align: top;

        .todayPickMall_img {
          // vertical-align: top;
          height: 13px;
          line-height: 13px;
          margin-bottom: 1px;
        }
      }

      .todayPick_text {
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #404040;

        .todayPick_text_em {
          color: #9858f5;
        }
      }
    }
  }
}
// 여기까지 오늘의 혜택 상자 작업

// 여기까지 두 번째 div 작업 끝

// 여기부터 세 번째 div 상자 작업 시작

// 세 번째 상자(feed 상자) 프레임
.feed {
  position: relative;

  .feed_header {
    display: flex;
    padding: 18px 20px 17px;

    .feed_header_wrap {
      flex: 1;
    }
  }

  .feed_recommend {
    background-color: #f5f7f8;
    position: relative;
    display: flex;
    margin: 0 20px 18px;
    border-radius: 4px;

    .feed_recommend_wrap {
      position: relative;
    }

    .feed_recommend_link_home {
      flex: none;
      margin-left: auto;
      padding: 0 20px;
      line-height: 50px;
      font-weight: bold;
    }
  }

  .feed_main {
    padding: 0 20px;

    .feed_main_box {
      position: relative;
    }

    .feed_main_bottom {
      border-top: 1px solid #ebebeb;
      position: relative;

      .feed_main_bottom_header {
        position: relative;
        display: flex;

        strong {
          padding: 23px 0 15px;
          font-size: 1.2rem;
          line-height: 22px;
          font-weight: 800;
        }
      }

      .feed_main_bottom_ulWrap {
        overflow: hidden;
      }

      .feed_bottom_btn_prev {
      }

      .feed_bottom_btn_next {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
        background-color: #fbfbfc;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url(../img/sp_main.d8baffc2.png);
          background-size: 452px 436px;
          background-position: -193px -424px;
          background-repeat: no-repeat;
          width: 10px;
          height: 12px;
          margin: auto;
        }
      }
    }
  }

  // 버튼은 프레임에서 작성

  .feed_main_more {
    border-top: 1px solid #ebebeb;

    .feed_main_more_btn {
      color: #404040;
      display: block;
      width: 100%;
      font-size: 1.1rem;
      line-height: 56px;
      font-weight: 600;
      cursor: pointer;

      .feed_main_more_btn_i {
        width: 10px;
        height: 10px;
        position: relative;
        display: inline-block;
        margin: 23px 0 0 5px;
        vertical-align: top;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 3px;
          bottom: 4px;
          width: 100%;
          transform: translateX(-50%);
          background-color: #5290ff;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 3px;
          right: 4px;
          height: 100%;
          transform: translateY(-50%);
          background-color: #5290ff;
        }
      }
    }
  }
}
// feed 상자 프레임 작업 끝

// 여기부터 feed 상자 css 작업 시작
// 여기부터 feed 상자 헤더 작업
.feed_header_tab_list {
  display: flex;

  .feed_header_tab_item {
    position: relative;

    &:not(:first-child) {
      padding-left: 26px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      @include onlySize($w: 1px, $h: 15px, $t: 4px, $l: 13px);
      background-color: #d3d5d7;
      transform: skewX(-15deg);
    }

    .feed_header_tab_span {
      position: relative;
      display: inline-block;
      font-size: 0.9rem;
      line-height: 23px;
      font-weight: 800;
      vertical-align: top;
      color: rgba(8, 8, 8, 0.5);

      .feed_header_tab_a {
        position: relative;
        display: inline-block;
        // vertical-align: top;
        color: #080808;

        em {
          line-height: 10px;
          vertical-align: 0;
        }
      }
    }
  }
}
// feed 상자 헤더 작업 끝

// 여기부터 리코멘드 css 작업 시작
.feed_recommend_list {
  transform: translateX(0px);
  transition: 0.3s;
  display: inline-flex;
  padding: 7px 10px;

  .feed_recommend_item {
    margin: 0 2px;

    .feed_recommend_item_a {
      color: #404040;
      border: 1px solid #ebebeb;
      display: block;
      padding: 0 12px;
      border-radius: 18px;
      background-color: #fff;
      line-height: 34px;
      text-align: center;
    }
  }
}

// 여기까지 리코멘드 css 작업 끝

// 여기부터 feed 메인 css 작업 시작
.feed_main_list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 4px -24px;

  .feed_main_item {
    position: relative;
    flex-shrink: 0;
    width: 25%;
    padding: 0 0 20px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .feed_main_imgLink {
      display: block;

      .imgBox {
        position: relative;

        .spanBox {
          @include imgFrame($w: 100%, $h: 120px);

          .feed_main_img {
            vertical-align: top;
            // transition: transform .2s; 추후 호버 작업시 사용
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
            border: 1px solid rgba(0, 0, 0, 0.06);
            border-radius: inherit;
            transform: translate3d(0, 0, 0);
            perspective: 1px;
          }
        }
      }

      .feed_main_textBox {
        margin-top: 10px;

        strong {
          overflow: hidden;
          max-height: 40px;
          line-height: 20px;
          // -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          // -webkit-line-clamp: 2;
          // -webkit-box-orient: vertical;
          font-weight: 400;
          display: block;
        }

        .feed_main_srcBox {
          display: flex;
          margin-top: 4px;
          font-size: 0.9rem;
          line-height: 20px;

          .srcBox_inner {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .srcIconBox {
              display: inline-block;
              margin: 0 6px 0 0;
              border-radius: 50%;
              vertical-align: top;
              position: relative;

              &::before {
                position: absolute;
                @include onlySize($t: 0, $l: 0, $r: 0, $b: 0);
                content: "";
                display: block;
                border: 1px solid rgba(0, 0, 0, 0.06);
                border-radius: inherit;
              }

              img {
                border-radius: inherit;
                vertical-align: top;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
// 여기까지 feed 메인 css 작업 끝

// 여기부터 feed 메인 바텀 css 작업 시작
.feed_main_bottom_list {
  display: flex;
  margin: 0 0 4px -28px;
  // transform: translateX(-100%);
  // transition: 0.3;
  // 추후 스와이퍼 도입 후 사용

  .feed_main_bottom_item {
    position: relative;
    flex-shrink: 0;
    width: 108px;
    padding: 0 0 20px 28px;

    .feed_main_bottom_Link {
      display: block;

      .feed_main_bottom_Link_box {
        position: relative;

        .Link_box_span {
          @include imgFrame($w: 100%, $h: 156px);

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid rgba(0, 0, 0, 0.06);
            border-radius: inherit;
            transform: translate3d(0, 0, 0);
            perspective: 1px;
          }

          .Link_box_img {
            vertical-align: top;
          }
        }
      }

      .feed_main_bottom_text {
        display: block;
        overflow: hidden;
        max-height: 40px;
        line-height: 20px;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        margin-top: 10px;
        font-weight: 400;
      }

      .feed_main_bottom_srcBox {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #606060;
        margin-top: 4px;
        font-size: 0.9rem;
        line-height: 20px;

        .feed_main_bottom_src {
          white-space: nowrap;
          color: #606060;
          font-size: 1.3rem;
          line-height: 20px;
        }
      }
    }
  }
}
// 여기까지 feed 메인 바텀 css 작업 끝

// 여기까지 feed 상자 css 작업 끝

.bottom_ad_box {
  .bottom_ad_box_wrap {
    margin: 0 auto;

    .bottom_ad_box_link {
      width: 830xp;
      height: 60px;
      display: block;

      .bottom_ad_box_img {
        display: block;
      }
    }
  }
}

// 여기부터 오른쪽 레이아웃 작업 시작

// 여기부터 로그인 레이아웃
.login_box {
  .loginWrap {
    padding: 21px 20px 18px;
    line-height: 20px;
    text-align: center;

    .login_text {
      font-size: 1rem;
    }

    .login_link {
      display: block;
      margin-top: 13px;
      padding: 17px 0;
      border: 1px solid rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      background-color: #03c75a;
      box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.12);
      text-decoration: none;
      color: #fff;

      .login_logo {
        background-image: url(../img/sp_main.eae24523.png);
        background-size: 452px 436px;
        background-position: 0px -301px;
        background-repeat: no-repeat;
        width: 72px;
        height: 14px;
        display: inline-block;
        margin: 3px 8px 0 0;
        vertical-align: top;
        color: #fff;
      }
    }

    .login_sup_box {
      color: #5f5f5f;
      margin-top: 16px;
      font-size: 0.9rem;

      .find_password {
        &::before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #d3d5d7;
          margin: 4px 12px 0;
          vertical-align: top;
        }

        &::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 12px;
          background-color: #d3d5d7;
          margin: 4px 12px 0;
          vertical-align: top;
        }
      }
    }
  }
}

// 여기까지 로그인 레이아웃
